# Frontend environment variables sample

# Для локальной разработки (npm start)
# REACT_APP_API_URL=http://localhost:8080/api

# Для Docker деплоя (использовать относительный путь для Nginx прокси)
REACT_APP_API_URL=/api 